/* NAV BAR */

.jumbotron {
    text-align: center;
    background-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 15px;
}

/* TEXT BOXT INPUT */

input#row-1 {
    border: transparent;
    background-color: transparent;
    width: 100%;
}

input#row-2 {
    border: none;
    background-color: transparent;
    width: 100%;
}

input#row-3 {
    border: none;
    background-color: transparent;
    width: 100%;
}

input#row-4 {
    border: none;
    background-color: transparent;
    width: 100%;
}

input#row-5 {
    border: none;
    background-color: transparent;
    width: 100%;
}

input#row-6 {
    border: none;
    background-color: transparent;
    width: 100%;
}

input#row-7 {
    border: none;
    background-color: transparent;
    width: 100%;
}

input#row-8 {
    border: none;
    background-color: transparent;
    width: 100%;
}

input#row-9 {
    border: none;
    background-color: transparent;
    width: 100%;
}

/* BUTTONS */

button#send-1 {
    border: transparent;
    background-color: transparent;
}

button#send-2 {
    border: transparent;
    background-color: transparent;
}

button#send-3 {
    border: transparent;
    background-color: transparent;
}

button#send-4 {
    border: transparent;
    background-color: transparent;
}

button#send-5 {
    border: transparent;
    background-color: transparent;
}

button#send-6 {
    border: transparent;
    background-color: transparent;
}

button#send-7 {
    border: transparent;
    background-color: transparent;
}

button#send-8 {
    border: transparent;
    background-color: transparent;
}

button#send-9 {
    border: transparent;
    background-color: transparent;
}

/* MIDDLE, PAST PRESENT FUTURE */

.past {
    background-color: lightgray
    color: lightgray;
}

.present {
    background-color: red
    color: lightgray;
}

.future {
    background-color: lightgreen
    color:lightgrey;
}